.leftnav button {
    width: max-content;
    display: inline-block;
    background-color: #CFAB7A;
    padding: 0.75rem 1.2rem;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.leftnav button:hover {
    background-color: #00703C;
    color: #FFFFFF;
    border-color: transparent;
}

.rightnav {
    float : right;
    background-color: #157123;

}
