input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .col-25 {
    float: left;
    width: 5%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 95%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }




button {
    width: max-content;
    display: inline-block;
    background-color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}